In [2]:
# Imports
import pandas as pd
from splinter import Browser
from bs4 import BeautifulSoup
from webdriver_manager.chrome import ChromeDriverManager

In [4]:
# Set up the executable path needed to scrape the webpage
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 95.0.4638
Get LATEST chromedriver version for 95.0.4638 google-chrome
Trying to download new driver from https://chromedriver.storage.googleapis.com/95.0.4638.69/chromedriver_mac64.zip
Driver has been saved in cache [/Users/matthewgodfrey/.wdm/drivers/chromedriver/mac64/95.0.4638.69]

## Find the first article title and summary paragraph

In [3]:
# Open the website to find news about mars
news_url = "https://redplanetscience.com/"
browser.visit(news_url)

# HTML object
html = browser.html

# Parse HTML with Beautiful Soup
soup = BeautifulSoup(html, 'html.parser')

# Retrieve the first element with the news title, and the first element with the paragraph text
news_title = soup.find('div', class_='content_title').text
news_p = soup.find('div', class_='article_teaser_body').text
print(news_title)
print(news_p)

NASA's Push to Save the Mars InSight Lander's Heat Probe
The scoop on the end of the spacecraft's robotic arm will be used to 'pin' the mole against the wall of its hole.

## Find the featured image

In [4]:
# Open the website to scrape and find the featured space image
images_url = 'https://spaceimages-mars.com/'
browser.visit(images_url)

In [6]:
# HTML object
html2 = browser.html

# Parse HTML with Beautiful Soup
soup2 = BeautifulSoup(html2, 'html.parser')

# Retrieve the image url
image = soup2.find('img', class_='headerimage fade-in')
link_to_image = image['src']
featured_image_url = images_url + link_to_image
print(featured_image_url)

https://spaceimages-mars.com/image/featured/mars1.jpg

## Find some fun facts about Mars!

In [7]:
# Open the Mars facts website
facts_url = 'https://galaxyfacts-mars.com/'
browser.visit(facts_url)

In [28]:
# Scrape the website to grab the table with Mars and Earth information
tables = pd.read_html(facts_url)
facts = tables[0]
facts

                         0                1                2
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C

In [29]:
# Set the first row in the table to be the column names
facts.columns = facts.iloc[0]

In [30]:
# Drop the row of data used to name the table columns
facts = facts.drop(facts.index[0])
facts

0 Mars - Earth Comparison             Mars            Earth
1               Diameter:         6,779 km        12,742 km
2                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                  Moons:                2                1
4      Distance from Sun:   227,943,824 km   149,598,262 km
5         Length of Year:   687 Earth days      365.24 days
6            Temperature:     -87 to -5 °C      -88 to 58°C

In [31]:
# Reset the index of the table
facts = facts.set_index('Mars - Earth Comparison')
facts

0                                   Mars            Earth
Mars - Earth Comparison
Diameter:                       6,779 km        12,742 km
Mass:                    6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                                 2                1
Distance from Sun:        227,943,824 km   149,598,262 km
Length of Year:           687 Earth days      365.24 days
Temperature:                -87 to -5 °C      -88 to 58°C

In [32]:
# Write the dataframe into an HTML script
html_table = facts.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars</th>\n      <th>Earth</th>\n    </tr>\n    <tr>\n      <th>Mars - Earth Comparison</th>\n      <th></th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Diameter:</th>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>Distance from Sun:</th>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <th>Length of Year:</th>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <th>Temperature:</th>\n      <td>-87 to -5 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>'

In [34]:
# Clean up the html code
html_table = html_table.replace('\n', '')
html_table

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Mars</th>      <th>Earth</th>    </tr>    <tr>      <th>Mars - Earth Comparison</th>      <th></th>      <th></th>    </tr>  </thead>  <tbody>    <tr>      <th>Diameter:</th>      <td>6,779 km</td>      <td>12,742 km</td>    </tr>    <tr>      <th>Mass:</th>      <td>6.39 × 10^23 kg</td>      <td>5.97 × 10^24 kg</td>    </tr>    <tr>      <th>Moons:</th>      <td>2</td>      <td>1</td>    </tr>    <tr>      <th>Distance from Sun:</th>      <td>227,943,824 km</td>      <td>149,598,262 km</td>    </tr>    <tr>      <th>Length of Year:</th>      <td>687 Earth days</td>      <td>365.24 days</td>    </tr>    <tr>      <th>Temperature:</th>      <td>-87 to -5 °C</td>      <td>-88 to 58°C</td>    </tr>  </tbody></table>'

## Scrape the hemisphere images

In [5]:
# Open the website that has the photos of Mars' hemispheres
hemispheres_url = "https://marshemispheres.com/"
browser.visit(hemispheres_url)

# HTML object
html = browser.html

# Parse HTML with Beautiful Soup
soup = BeautifulSoup(html, 'html.parser')

In [6]:
# Find find links to each hemisphere page
thumbnails = soup.find_all('div', class_='description')

In [25]:
# Create a list to store dictionaries holding the hemisphere image info
hemisphere_img_urls = []


# Loop through each thumbnail element 
for thumb in thumbnails:
    
    # Store the title of the image
    title = thumb.find('h3').text
    
    # Find the html link to the high res image page
    link = thumb.find('a')['href']

    # Open the page that has the high res image
    image_page_url = hemispheres_url + link
    browser.visit(image_page_url)

    # Create a new HTML object
    image_page_html = browser.html

    # Parse HTML with Beautiful Soup
    image_soup = BeautifulSoup(image_page_html, 'html.parser')
    
    # Find the image tag, pull out the src, append the image link to the original url
    image_link = image_soup.find('img', class_='wide-image')['src']
    img_url = hemispheres_url + image_link
    
    # Add the title and image url as a dictionary to the hemisphere image urls list
    hemisphere_img_urls.append({'title': title, 'img_url': img_url})

[{'title': 'Cerberus Hemisphere Enhanced', 'img_url': 'https://marshemispheres.com/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg'}, {'title': 'Schiaparelli Hemisphere Enhanced', 'img_url': 'https://marshemispheres.com/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg'}, {'title': 'Syrtis Major Hemisphere Enhanced', 'img_url': 'https://marshemispheres.com/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg'}, {'title': 'Valles Marineris Hemisphere Enhanced', 'img_url': 'https://marshemispheres.com/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg'}]